* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --c1: #F5E3C3;          /* Text and teeth */
  --c2: #A29B9A;          /* Eyes and soft accents */
  --c3: #D6725D;          /* Main rat color */
  --c4: #B5533D;          /* Ear and nose highlights */
  --c5: #6A4A37;          /* Gear/ear detail */
  --c6: #3A2218;          /* Outline and background */
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
  --blue: rgb(52, 52, 255);

  --raisin-black-2: hsl(236, 17%, 17%);
  --raisin-black-3: hsl(280, 11%, 11%);
  --raisin-black-4: hsl(280, 8%, 15%);
  --english-violet: hsl(274, 21%, 23%);
  --eerie-black-1: hsl(277, 25%, 10%);
  --eerie-black-2: hsl(280, 7%, 8%);
  --marigold: hsl(42, 99%, 46%);
  --white_15: hsla(0, 0%, 100%, 0.15);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --white: hsl(0, 0%, 100%);
  --purple: purple;
  --roman-silver: hsl(220, 6%, 59%);


/**
  * typography
  */

--ff-oxanium: 'Oxanium', cursive;

/**
* transition
*/

--transition: 0.25s ease;
--cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

body {
  font-family: "Chivo", "Staatliches", "Bebas Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* 
----------------
Navbar
----------------
*/

/*-----------------------------------*\
#RESET
\*-----------------------------------*/

*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

li { list-style: none; }

a {
text-decoration: none;
color: inherit;
}

a,
img,
span,
time,
input,
button,
ion-icon { display: block; }


  input,
  button {
    background: none;
    border: none;
    font: inherit;
  }

  input { width: 100%; }

  button { cursor: pointer; }

  ion-icon { pointer-events: none; }

  html {
    font-family: var(--ff-poppins);
    font-size: 10px;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--raisin-black-4);
    font-size: 1.6rem;
    line-height: 1.5;
  }


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.btn {
  margin-inline: auto;
  color: var(--eerie-black-1);
  font-size: var(--fs-8);
  text-transform: uppercase;
  font-weight: var(--fw-700);
  min-height: 55px;
  padding-inline: 35px;
}

.skewBg {
  position: relative;
  z-index: 1;
}

.skewBg::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: skewX(var(--skewX));
  background-color: var(--bg, var(--blue));
  border-radius: 20px;
  z-index: -1;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% + 8px);
  width: 5px;
  transform: skewX(-16deg) translateX(var(--translateX, 0));
  background-color: var(--marigold);
  transition: var(--transition);
}



/*-----------------------------------*\
#HEADER
\*-----------------------------------*/

.header-top,
.header-bottom::before,
.navbar-link::before { display: none; }

.header {
  position: relative;
  min-height: 1px;
}

.header-bottom {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  background-color: var(--raisin-black-2);
  padding-block: 20px;
  z-index: 4;
}

.header-bottom.active {
  position: fixed;
  top: -85px;
  animation: slideIn 0.5s var(--cubic-out) forwards;
}

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo2 {
  color: var(--white);
  font-family: var(--ff-oxanium);
  font-size: 3rem;
  font-weight: var(--fw-800);
  margin-top: -7px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-btn {
  color: var(--marigold);
  padding: 13px;
  box-shadow: var(--shadow-1);
  border-radius: 4px;
}

.search-btn ion-icon { --ionicon-stroke-width: 80px; }

.nav-toggle-btn {
  color: var(--white);
  font-size: 30px;
  border: 1px solid var(--white);
  padding: 4px;
}

.nav-toggle-btn.active .menu,
.nav-toggle-btn .close { display: none; }

.nav-toggle-btn .menu,
.nav-toggle-btn.active .close { display: block; }

.navbar {
  background-color: var(--eerie-black-1);
  color: var(--white);
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-width: 350px;
  visibility: hidden;
  max-height: 0;
  transition: 0.25s var(--cubic-out);
  overflow: hidden;
}

.navbar.active {
  visibility: visible;
  max-height: 275px;
  transition-duration: 0.5s;
}

.navbar-item:not(:last-child) { border-block-end: 1px solid var(--white_15); }

.navbar-link {
  padding: 10px 25px;
  transition: var(--transition);
}

.navbar-link:is(:hover, :focus) { background-color: var(--blue); }


/* 
----------------
Hero
----------------
*/

.hero {
  background: var(--c4);
}

.section {
   background-repeat: no-repeat;
   background-size: cover;
}


.hero .container {
  background-size: contain;
  background-position: center bottom;
  padding-top: 150px;
  padding-bottom: 70px;
}

.hero .hero-content {
  width: 70%;
  background-color: #ffb38b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
}

.hero .hero-content2 {
  width: 70%;
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  opacity: 0.7;
}

.hero .hero-text {
  width: 70%;
  margin-bottom: 20px;
}


.hero .hero-heading {
  font-size: 2.5rem;
  font-family: Bebas Neue;
  font-weight: 300;
}

.responsive-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}	

/* 
----------------
Video
----------------
*/

.video {
  padding: 10px 0 40px;
  background-color: #a66139;
}

.video .video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video .video-content ul li {
  display: grid;
  grid-template-columns: 1fr;
  float: left;
  padding: 20px;
  margin: 10px;  
}

#location.video {
  align-items: center;
}

.video .video-preview {
  margin-bottom: 20px;
}

/* 
----------------
Utility Classes 
----------------
*/

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px
}

.light-bg {
  background-color: #ccc;
  padding: 2rem;
  border-radius: 30px;
}

/* 
----------------
Card
----------------
*/

.card {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
}

/* 
----------------
Buttons 
----------------
*/

.btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--light-color);
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.25s;
}

.btn:hover{
  background: #615fe1;
}

.btn-primary {
  background: #1100ff;
  color: #fff;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%
}

/* 
----------------
Text Classes
----------------
*/

.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-l {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-m {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-s {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/* 
----------------
Background
----------------
*/

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-black {
  background: #000;
  color: #fff;
}

.bg-grey {
  background: #ccc;
  color: #000;
}

/* 
----------------
Hamburger button
----------------
*/

.video .mobile-location {
  display: none;
}

.latest-game-card-mobile {
  display: none;
}



/*-----------------------------------*\
#FOOTER
\*-----------------------------------*/

.footer { 
  color: var(--roman-silver);
  background-color: var(--raisin-black-3);
  padding-bottom: 150px;
}

.footer-top { padding-block-end: var(--section-padding); }

.footer-top .container {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  gap: 50px;
}

.footer .logo { margin-block-end: 35px; }

.footer-text,
.footer .contact-item {
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  line-height: 1.8;
}

.footer-text { margin-block-end: 10px; }

.contact-item:not(:last-child) { margin-block-end: 10px; }

.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.contact-icon {
  margin-block-start: 15px;
  font-size: 17px;
}

.footer-list-title {
  position: relative;
  color: var(--silver);
  font-family: var(--ff-oxanium);
  text-transform: uppercase;
  font-weight: var(--fw-800);
  padding-block-end: 20px;
  margin-block-end: 35px;
}

.footer-list-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: var(--marigold);
}

.footer-link {
  font-size: var(--fs-9);
  max-width: max-content;
  transition: var(--transition);
  padding-block: 8px;
  font-weight: var(--fw-500);
}

.footer-link:is(:hover, :focus) {
  color: var(--marigold);
  transform: translateX(5px);
}

.footer .social-wrapper { margin-block-end: 50px; }

.footer .social-list {
  display: flex;
  gap: 10px;
}

.footer .social-link {
  display: flex;
  gap:20px;
  align-items:center;
  color: var(--white);
  padding: 10px;
  border-radius: 2px;
  padding-right: 250px;
}

.footer .social-link-2 {
  display: flex;
  gap:20px;
  align-items:center;
  color: var(--white);
  padding: 10px;
  border-radius: 2px;
  padding-right: 80px;
}

.footer-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 53px;
  background-color: var(--marigold);
  color: var(--xiketic);
  display: grid;
  place-content: center;
}

.footer-bottom-img { display: none; }

.footer-bottom {
  background-color: var(--eerie-black-2);
  padding-block: 20px;
  text-align: center;
  margin-bottom: 150px;
}

.copyright {
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  line-height: 1.8;
}

.copyright-link {
  display: inline-block;
  color: var(--marigold);
}


/* 
----------------
Media Queries
----------------
*/

@media (max-width: 1372px) {
  .video .video-content ul li {
  align-items: center;
  float: none;
 }

 #tablet-view.light-bg {
  padding: 20px;
 }

  #tablet-icon {
  margin-bottom: 30px;
 }
}

@media (max-width: 960px) {
  .text-xxl {
    font-size: 2.5rem;
  }

  .latest-game-card-mobile {
  display: flex;
}

  .video .desktop-location {
    display: none;
  } 

 .video .mobile-location {
    display: block;
  }

  .latest-game-card {
    display: none;
}
}

@media (max-width: 670px) {

  .navbar .main-menu {
    display: none;
  }

  .hero .hero-content,
  .hero .hero-text,
  .hero .hero-content2 {
    width: 100%;
    text-align: center;
  }

  .section {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center ;
}

  .hero .hero-buttons .btn {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  }

  .testimonials .testimonials-heading {
    max-width: 100%;
    text-align: center;
  }

  .testimonials .testimonials-grid,
  .pricing .pricing-grid,
  .footer .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer .card {
    margin-right: 0;
  }

  .footer .footer-grid {
    text-align: center;
  }

    .footer-top .container { grid-template-columns: 1fr; }
  


  /* Text */

  .text-xl {
    font-size: 1.9rem;
  }

  .text-lg {
  font-size: 1.5rem;
  }

  .text-md {
  font-size: 1.1rem;
  }
    
}

@media (max-width: 500px) {
  .text-xxl {
    font-size: 2rem;
  }

}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 576px screen
 */

@media (min-width: 576px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

    .responsive-iframe {
    margin: 0 auto;
  }

    .footer-top .container { grid-template-columns: 1fr; }


@media (min-width: 768px) {

  
    /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: 1fr; }

  .footer-brand,
  .footer-wrapper { grid-column: 1 / 3; }

  /**
   * FOOTER
   */

  .footer-brand,
  .footer-wrapper { grid-column: auto; }

  .footer-bottom-img { display: block; }

  .footer-bottom { text-align: left; }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  }


@media (max-width: 993px) {


  /**
   * REUSED STYLE
   */

  :is(.header, .hero, .live-match) .container { max-width: unset; }

  .container .navbar.active .navbar-list .navbar-item .navbar-link.skewBg {
    font-size: 20px;
  }

    .footer-top .container { grid-template-columns: 1fr; }
}

/**
 * responsive for larger than 992px screen
 */

 }
@media (min-width: 992px) {


  /**
   * REUSED STYLE
   */

  :is(.header, .hero, .live-match) .container { max-width: unset; }

    /**
   * FOOTER
   */

  .footer .container {
    display:grid;
    grid-template-columns: 1fr 0.4fr;
    column-gap: 80px;
  }


  /**
   * HEADER
   */

  .header-top {
    display: block;
    background-image: url("../images/header-top-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-block: 20px;
  }


  .header-bottom { outline: 1px solid hsla(0, 0%, 0%, 0.2); }

  .nav-toggle-btn { display: none; }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline: auto 15px;
  }

  .navbar-list { display: flex; }

  .navbar-item:not(:last-child) { border-block-end: none; }

  .navbar-link {
    color: white;
    font-family: Bebas Neue;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 10px 20px;
  }

  .navbar-link::before {
    display: block;
    opacity: 0;
    transition: var(--transition);
  }

  .navbar-link:is(:hover, :focus) {
    background-color: transparent;
  }

  .navbar-link:is(:hover, :focus)::before { opacity: 1; }

}



/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container,
  :is(.header, .hero, .live-match) .container { max-width: 1230px; }


  /**
   * HEADER
   */

  .navbar-link {
    font-size: 1.7rem;
    padding-inline: 25px;
  }

}
}